.feedItemCommentContainer {
    margin: 0 1rem 4px 1rem;
    /*margin: 0 1rem 4px 1rem;*/
    display: flex;
    flex-direction: row;
}

.commentUserName {
    display: inline-block;
    margin-right: 0.25rem;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}
.commentUserName:hover {
    text-decoration: underline;
}

.commentTextDescription {
    vertical-align: top;
    display: inline-block;
    text-overflow: ellipsis;
    width: 40ch;
    overflow: hidden;
    white-space: nowrap;
    overflow-wrap: break-word;
    font-size: 14px;
}

.showMore {
    color: #9a9a9a;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
}

.commentContent {
    word-break: break-word;
    flex: 1 1 auto;
    padding-right: 5px;
    font-size: 14px;
    line-height: 18px;
}

.hashHtml {
    color: #00376b;
    text-decoration: none;
    cursor: pointer;
}