
.contentImage {
    max-width: inherit;
    height: inherit;
    position: relative;
}

.contentImage >  .main {
    max-width: inherit;
    height: inherit;
    left: 0;
    top: 0;
    object-fit: cover;
}

.contentImage >  video {
    max-width: inherit;
    height: inherit;
    left: 0;
    top: 0;
    object-fit: cover;
}

.contentSound {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    height: 28px;
    width: 28px;
    margin: 0 16px 16px 0;
    background-color: #262626;
    border-radius: 50%;
    cursor: pointer;
}

.previousSlide {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 16px 8px;

    border: 0;
    outline: 0;
    background: 0 0;
    cursor: pointer;
}

.previousSlideIcon {
    background-repeat: no-repeat;
    background-position: -130px -98px;
    height: 30px;
    width: 30px;
    background-image: url("../../../static/images/icons2.png");
}

.nextSlide {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 16px 8px;

    border: 0;
    outline: 0;
    background: 0 0;
    cursor: pointer;
}

.nextSlideIcon {
    background-repeat: no-repeat;
    background-position: -162px -98px;
    height: 30px;
    width: 30px;
    background-image: url("../../../static/images/icons2.png");
}

.previousSlideImage {
    max-width: inherit;
    height: inherit;
    object-fit: cover;
    left: -100%;
    position: absolute;
    visibility: hidden;
}

.nextSlideImage {
    max-width: inherit;
    height: inherit;
    object-fit: cover;
    position: absolute;
    right: -100%;
    visibility: hidden;
}