<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:class="feedItemContainer" th:fragment="feedPost">
    <link th:href="@{/css/feedPost.css}" rel="stylesheet" />

    <th:block th:insert="fragments/feedPost :: header" th:with="owner=${post.owner}, location=${post.location}"></th:block>
    <th:block th:insert="fragments/feedPost :: image" th:if="${post.isVideo == false && post.isSidecar == false}" th:with="resourceArray=${post.resourceArray}"></th:block>
    <th:block th:insert="fragments/feedPost :: video" th:if="${post.isVideo == true && post.isSidecar == false}" th:with="videoUrl=${post.videoUrl}"></th:block>
    <th:block th:insert="fragments/feedPost :: sidecar" th:if="${post.isVideo == false && post.isSidecar == true}" th:with="sidecarArray=${post.sidecarArray}, shortcode=${post.shortcode}"></th:block>
    <th:block th:insert="fragments/feedPost :: actions" th:with="likes=${post.likes}"></th:block>
    <th:block th:insert="fragments/feedPost :: comment" th:with="owner=${post.owner}, text=${post.description}, id=${post.shortcode}, feedDescription=${true}"></th:block>
    <a th:class="viewAllComments" th:text="${'View all ' + @formatter.numCommaFormatter(post.commentsData.count) + ' comments'}" th:href="${'/p/' + post.shortcode}"></a>
    <th:block th:insert="fragments/feedPost :: comment"
              th:if="${post.commentsData?.commentsArray}"
              th:each="comment : ${post.commentsData.commentsArray}"
              th:with="owner=${comment.owner}, text=${comment.text}, id=${comment.id}, feedDescription=${false}">
    </th:block>
    <a th:class="itemDateText" th:text="${@formatter.dateFormatter(post.createdAt)}"></a>
    <th:block th:replace="fragments/feedPost :: addComment"></th:block>

</div>


<div th:class="header" th:fragment="header">
    <link th:href="@{/css/feedPost/header.css}" rel="stylesheet" />

    <img th:class="userImage" th:src="${owner.userImageUrl}" />
    <div th:class="headerText">
        <span th:class="userName" th:text="${owner.username}"></span>
        <div th:class="localization" th:if="${location != null}" th:text="${location.name}"></div>
    </div>
    <div th:class="moreIcon">
        <svg aria-label="More" fill="#262626" height="16" viewBox="0 0 48 48" width="16">
            <circle cx="8" cy="24" r="4.5"></circle>
            <circle cx="24" cy="24" r="4.5"></circle>
            <circle cx="40" cy="24" r="4.5"></circle>
        </svg>
    </div>
</div>


<form method="POST" th:class="addCommentContainer" th:fragment="addComment">
    <link th:href="@{/css/feedPost/addComment.css}" rel="stylesheet" />

    <div th:class="addCommentEmoji">
        <svg aria-label="Emoji" fill="#262626" height="24" viewBox="0 0 48 48" width="24">
            <path d="M24 48C10.8 48 0 37.2 0 24S10.8 0 24 0s24 10.8 24 24-10.8 24-24 24zm0-45C12.4 3 3 12.4 3 24s9.4 21 21 21 21-9.4 21-21S35.6 3 24 3z"></path>
            <path d="M34.9 24c0-1.4-1.1-2.5-2.5-2.5s-2.5 1.1-2.5 2.5 1.1 2.5 2.5 2.5 2.5-1.1 2.5-2.5zm-21.8 0c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5-1.1 2.5-2.5 2.5-2.5-1.1-2.5-2.5zM24 37.3c-5.2 0-8-3.5-8.2-3.7-.5-.6-.4-1.6.2-2.1.6-.5 1.6-.4 2.1.2.1.1 2.1 2.5 5.8 2.5 3.7 0 5.8-2.5 5.8-2.5.5-.6 1.5-.7 2.1-.2.6.5.7 1.5.2 2.1 0 .2-2.8 3.7-8 3.7z"></path>
        </svg>
    </div>
    <textarea
            th:class="addCommentInput"
            th:style="'height: 18'"
            placeholder="Add Comment..."
            aria-label="Add Comment..."></textarea>
    <button th:class="addCommentButton" th:style="'opacity: 0.3'">
        Share
    </button>
</form>

<div th:class="contentImage" th:fragment="image">
    <link th:href="@{/css/feedPost/content.css}" rel="stylesheet" />

    <img th:class="main" th:src="${resourceArray[1].src}" />
</div>

<div th:class="contentImage" th:fragment="sidecar">
    <link th:href="@{/css/feedPost/content.css}" rel="stylesheet" />

    <button th:id="${'previousButton-' + shortcode}" th:class="previousSlide" th:attr="onclick=|previousSlide('${shortcode}')|" style="display: none">
        <div th:class="previousSlideIcon"/>
    </button>

    <img th:id="${'sidecar-' + shortcode}" th:class="main" th:src="${sidecarArray[0].resourceArray[1].src}" />

    <button th:id="${'nextButton-' + shortcode}" th:class="nextSlide" th:attr="onclick=|nextSlide('${shortcode}')|" >
        <div th:class="nextSlideIcon"/>
    </button>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var shortcode = /*[[${shortcode}]]*/ '';
        postSidecar[shortcode] = {sidecarArray: /*[[${sidecarArray}]]*/ [], currentSlide: 0}
        /*]]>*/
        function nextSlide (shortcode) {
            var sidecarImage = document.getElementById("sidecar-" + shortcode);
            var nextButton = document.getElementById("nextButton-" + shortcode);
            var previousButton = document.getElementById("previousButton-" + shortcode);
            postSidecar[shortcode].currentSlide++
            const currentSlide = postSidecar[shortcode].currentSlide;
            const sidecarArray = postSidecar[shortcode].sidecarArray;
            sidecarImage.src = sidecarArray[currentSlide].resourceArray[1].src;
            previousButton.style.display = "block";
            if (currentSlide === sidecarArray.length - 1) {
                nextButton.style.display = "none";
            }
        }

        function previousSlide (shortcode) {
            var sidecarImage = document.getElementById("sidecar-" + shortcode);
            var nextButton = document.getElementById("nextButton-" + shortcode);
            var previousButton = document.getElementById("previousButton-" + shortcode);
            postSidecar[shortcode].currentSlide--
            const currentSlide = postSidecar[shortcode].currentSlide;
            const sidecarArray = postSidecar[shortcode].sidecarArray;
            sidecarImage.src = sidecarArray[currentSlide].resourceArray[1].src;
            nextButton.style.display = "block";
            if (currentSlide === 0) {
                previousButton.style.display = "none";
            }
        }
    </script>
</div>

<div th:class="contentImage" th:fragment="video">
    <link th:href="@{/css/feedPost/content.css}" rel="stylesheet" />

    <video id="video1" autoPlay loop muted>
        <source th:src="${videoUrl}" type="video/mp4" />
    </video>
    <div th:class="contentSound" onclick="setIsMuted()">
        <svg id="muted" aria-label="Muted" fill="#ffffff" height="12" viewBox="0 0 48 48" width="12">
            <path d="M1.5 13.3c-.8 0-1.5.7-1.5 1.5v18.4c0 .8.7 1.5 1.5 1.5h8.7l12.9 12.9c.9.9 2.5.3 2.5-1v-9.8c0-.4-.2-.8-.4-1.1l-22-22c-.3-.3-.7-.4-1.1-.4h-.6zm46.8 31.4l-5.5-5.5C44.9 36.6 48 31.4 48 24c0-11.4-7.2-17.4-7.2-17.4-.6-.6-1.6-.6-2.2 0L37.2 8c-.6.6-.6 1.6 0 2.2 0 0 5.7 5 5.7 13.8 0 5.4-2.1 9.3-3.8 11.6L35.5 32c1.1-1.7 2.3-4.4 2.3-8 0-6.8-4.1-10.3-4.1-10.3-.6-.6-1.6-.6-2.2 0l-1.4 1.4c-.6.6-.6 1.6 0 2.2 0 0 2.6 2 2.6 6.7 0 1.8-.4 3.2-.9 4.3L25.5 22V1.4c0-1.3-1.6-1.9-2.5-1L13.5 10 3.3-.3c-.6-.6-1.5-.6-2.1 0L-.2 1.1c-.6.6-.6 1.5 0 2.1L4 7.6l26.8 26.8 13.9 13.9c.6.6 1.5.6 2.1 0l1.4-1.4c.7-.6.7-1.6.1-2.2z" fill-rule="evenodd"></path>
        </svg>
        <svg id="sound" style="display: none" aria-label="Sound" fill="#ffffff" height="12" viewBox="0 0 48 48" width="12">
            <path d="M40.8 6.6c-.6-.6-1.6-.6-2.2 0L37.2 8c-.6.6-.6 1.6 0 2.2 0 0 5.7 5 5.7 13.8s-5.7 13.8-5.7 13.8c-.6.6-.6 1.6 0 2.2l1.4 1.4c.6.6 1.6.6 2.2 0 0 0 7.2-6 7.2-17.4S40.8 6.6 40.8 6.6zm-7.1 7.1c-.6-.6-1.6-.6-2.2 0l-1.4 1.4c-.6.6-.6 1.6 0 2.2 0 0 2.6 2 2.6 6.7s-2.6 6.7-2.6 6.7c-.6.6-.6 1.6 0 2.2l1.4 1.4c.6.6 1.6.6 2.2 0 0 0 4.1-3.5 4.1-10.3s-4.1-10.3-4.1-10.3zM23.1.4L10.2 13.3H1.5c-.8 0-1.5.7-1.5 1.5v18.4c0 .8.7 1.5 1.5 1.5h8.7l12.9 12.9c.9.9 2.5.3 2.5-1V1.4C25.5.2 24-.5 23.1.4z" fill-rule="evenodd"></path>
        </svg>
    </div>

    <script th:inline="javascript">
        var isMuted = true;
        var setIsMuted = function () {
            isMuted = !isMuted
            var muted = document.getElementById("muted");
            var sound = document.getElementById("sound");
            var video1 = document.getElementById("video1");
            if (isMuted) {
                muted.style.display = "block";
                sound.style.display = "none";
                video1.muted = true;
            } else {
                muted.style.display = "none";
                sound.style.display = "block";
                video1.muted = false;
            }
        }
    </script>
</div>

<div th:class="feedItemActionsContainer" th:fragment="actions">
    <link th:href="@{/css/feedPost/actions.css}" rel="stylesheet" />

    <div th:class="itemButtonGroup">
        <svg aria-label="Activity" fill="#262626" height="24" viewBox="0 0 48 48" width="24">
            <path d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path>
        </svg>
        <svg aria-label="Comment" fill="#262626" height="24" viewBox="0 0 48 48" width="24">
            <path d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z" fillRule="evenodd"/>
        </svg>
        <svg aria-label="Message" fill="#262626" height="24" viewBox="0 0 48 48" width="24">
            <path d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z"></path>
        </svg>
        <svg aria-label="Save" fill="#262626" height="22" viewBox="0 0 48 48" width="22">
            <path d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z" />
        </svg>
    </div>
    <a th:class="itemLikes" href="#" th:text="${@formatter.numCommaFormatter(likes.count) + ' likes'}">0 likes</a>
    <br/>
    <a th:class="itemDateText" th:if="${createdAt != null}" href="#" th:text="${@formatter.dateFormatter(createdAt)}">
        date
    </a>
</div>

<div th:class="feedItemCommentContainer" th:fragment="comment">
    <link th:href="@{/css/feedPost/comment.css}" rel="stylesheet" />

    <div th:class="commentContent">
        <a th:class="commentUserName" th:text="${owner.username}">username</a>
        <span th:id="${'comment-' + id}" th:text="${text.length > 120 ? text.substring(0, text.lastIndexOf(' ', 120)) + '...' : text}"></span>
        <span th:id="${'commentShowMore-' + id}" th:if="${text.length > 120}" th:class="showMore" th:attr="onclick='handleShowMore(\'' + ${id} + '\', `' + ${text} + '`)'"> more</span>
    </div>
    <div th:if="${feedDescription != true}">
        <svg aria-label="Like" fill="#262626" height="12" viewBox="0 0 48 48" width="12">
            <path d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path>
        </svg>
    </div>

    <script th:inline="javascript">
        function handleShowMore (id, text) {
            console.log(id, text)
            var comment = document.getElementById("comment-" + id);
            comment.textContent = text;

            var commentShowMore = document.getElementById("commentShowMore-" + id);
            commentShowMore.style.display = "none";
        }
    </script>
</div>

</body>
</html>