<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:class="userItemHeaderContainer" th:fragment="user">
    <link th:href="@{/css/user.css}" rel="stylesheet" />

    <div th:class="userImageContainer">
        <div th:class="userImage">
            <img th:src="${userData.userImageUrl}" />
        </div>
    </div>
    <div th:class="userDetails">
        <div th:class="user1Line">
            <h2 th:class="userName" th:text="${userData.username}"></h2>
            <div th:if="${userData.isVerified}" th:class="verifiedBandage">
                <svg viewBox="0 0 48 48" width="20px" height="20px">
                    <polygon fill="#42a5f5" points="29.62,3 33.053,8.308 39.367,8.624 39.686,14.937 44.997,18.367 42.116,23.995 45,29.62 39.692,33.053 39.376,39.367 33.063,39.686 29.633,44.997 24.005,42.116 18.38,45 14.947,39.692 8.633,39.376 8.314,33.063 3.003,29.633 5.884,24.005 3,18.38 8.308,14.947 8.624,8.633 14.937,8.314 18.367,3.003 23.995,5.884"/><polygon fill="#fff" points="21.396,31.255 14.899,24.76 17.021,22.639 21.428,27.046 30.996,17.772 33.084,19.926"/>
                </svg>
            </div>
            <div th:class="userButtonGroup">
                <button th:class="buttonFollow">Follow</button>
                <button th:class="buttonMore"><div th:class="triangle"></div></button>
            </div>
            <svg aria-label="More" fill="#262626" height="24" viewBox="0 0 48 48" width="24">
                <circle cx="8" cy="24" r="4.5"></circle>
                <circle cx="24" cy="24" r="4.5"></circle>
                <circle cx="40" cy="24" r="4.5"></circle>
            </svg>
        </div>
        <div th:class="user2Line">
            <span th:class="userScore"><span th:class="bold" th:text="${@formatter.numCommaFormatter(userData.postCount)}"></span> posts</span>
            <span th:class="userScore"><span th:class="bold" th:text="${@formatter.numFormatter(userData.followersCount)}"></span> followers</span>
            <span th:class="userScore"><span th:class="bold" th:text="${@formatter.numFormatter(userData.followingsCount)}"></span> following</span>
        </div>
        <div th:class="user3Line">
            <span th:class="descriptionHeader" th:text="${userData.name}"></span>
            <span th:utext="${@formatter.bioFormatter(userData.bio)}"></span>
            <a th:class="bioUrl" th:if="${userData.bioUrlName}" th:href="${userData.bioUrl}" target="_blank" th:text="${@formatter.urlFormatter(userData.bioUrlName)}"></a>
        </div>
    </div>
</div>

</body>
</html>