.feedGalleryTabs {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid #dbdbdb;
}

.feedGalleryTab {
    height: 6vh;
    border-top: 1px solid #262626;
    margin: 0 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.feedGalleryTab_title {
    margin-left: 6px;
    color: #262626;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}