.mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 975px;
    top: 54px;
    margin: 0 auto;
    padding: 30px 20px 0 20px;
}
